NEXT_PUBLIC_API_URL=https://bexiemart-production.up.railway.app/api/v1
NEXT_PUBLIC_WS_URL=https://bexiemart-production.up.railway.app
API_URL=https://bexiemart-production.up.railway.app/api/v1
NEXT_PUBLIC_SENTRY_DSN=
